<head>
    <meta charset="utf-8">

    <meta name="description" content="Giml: A strict, purely functional programming language">
    <meta name="author" content="Gil Mizrahi">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@_gilmi" />
	<meta name="twitter:title" content="Giml: A strict, purely functional programming language" />
	<meta name="twitter:description" content="Giml is a strict, statically typed, purely functional programming language with emphasis on structural typing developed live on stream" />
	<meta name="twitter:image" content="https://giml-lang.org/static/images/logo-bigger.png" />
	<meta name="twitter:image:alt" content="Giml logo" />

	<title>Giml: a purely functional programming language</title>
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/highlight/styles/arta.css">
	<link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico">
</head>
<body>

<main class="main-container">
<header class="main-header">
	<h1><a href="https://giml-lang.org">
	  <img src="static/images/logo.png" alt="Giml logo" title="Giml-lang home" style="vertical-align:text-bottom;"> Giml
	</a></h1>
    <h2>{{header}}</h2>

<section>
<nav>
    <ul class="nav-links">
	    {{#navigation}}
		<li class="nav-link">
		    <a href="{{link}}">{{name}}</a>
		</li>
        {{/navigation}} 
	</ul>
</nav>
</section>
</header>

<content>
	{{{content}}}
</content>

<footer>
</footer>

</main>

<script src="static/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


</body>