@font-face {
  font-family: Iosevka;
  src: url(../fonts/Iosevka_Fixed_Regular.ttf);
}

html {
    min-height: 100%;
}

body {
    min-height: 90%;
  	background-image: linear-gradient(rgb(30,25,35), rgb(30,35,50), #563450, #e66465);

	font-weight: initial;
	font-size: 1.1em;
}

.nav-links {
	margin-top: 2rem;
	padding-bottom: 1rem;
	margin-bottom: 2.5rem;
	text-align: center;
	border-bottom: 1px solid rgb(40,35,45); // rgb(64, 55, 107);

}
.nav-links li {
	list-style-type: none;
	display: inline-block;
}
.nav-links a {
	display: inline-block;
	padding: 1rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	font-size: 1.2em;
	// font-weight: bold;
	text-decoration: none;
	color: rgb(218, 77, 78);
}
.nav-links a:hover {
	color: white;
}
.nav-links li:hover {
	// background-color: rgb(85, 25, 180);
	background-color: rgba(74, 55, 127, 0.9);
}
.nav-links li:hover a {
	color: white;
}

.main-container {
    min-height: 100%;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 1000px;
	min-width: 640px;
	padding: 2em;
	padding-left: 5em;
	padding-right: 5em;
	font-family: sans-serif;
	background-image: none;
	background-color: rgb(255,255,255);
}

.side-by-side {
	display: flex;
	flex-wrap: wrap-reverse;
}

.main-header {
}

.main-header h2 {
	text-align: center;
}

pre {
	font-family: Iosevka, sans-serif;
    -moz-tab-size: 4; /* Firefox */
    tab-size: 4;

}

.center {
	text-align: center;
}

.example {
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
	max-width: 620px;
}

.example pre {
	padding-right: 1em;
	font-size: 1.15em;

}
.features {
	min-width: 340px;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
}
.features p, .features li {
	font-size: 1.1em;
}
.features ul {
	list-style-type: none;
	padding-left: 1em;
}
li {
	margin-bottom: 0.5em;
}
p {
	font-size: 1.1em;
	padding-left: 1em;
	padding-right: 1em;
}

// ---------------


a:visited {
  color: rgb(178, 47, 48);
}

a {
  color: rgb(178, 47, 48);
  text-decoration: underline;
  font-weight: normal;
}
a:hover {
  color: rgb(85, 25, 180);
}

h1 { font-size: 1.9em; color: rgb(64, 55, 107); }
h2 { font-size: 1.7em; color: rgb(64, 55, 107); }
h3 { font-size: 1.5em; color: rgb(64, 55, 107); }
h4 { font-size: 1.3em; color: rgb(64, 55, 107); }
h5 { font-size: 1.2em; color: rgb(64, 55, 107); }
h6 { font-size: 1.1em; color: rgb(64, 55, 107); }

h1 a { font-size: 1.9em; color: rgb(64, 55, 107); font-weight: bold; text-decoration: none; }
